<div id="page">
  <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(<%= image_url("background-cover.png") %>);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1>Em Breve!!</h1>
              <h2>Site do Harmony Vocal</h2>
              <div class="simply-countdown simply-countdown-one"></div>
              <div class="row">
                <h2>Me notifique quando estiver pronto</h2>
                <form class="form-inline" id="fh5co-header-subscribe">
                  <div class="col-md-12 col-md-offset-0">
                    <div class="form-group">
                      <input type="text" class="form-control" id="email" placeholder="Seja notificado por email">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                  </div>
                </form>
                <ul class="fh5co-social-icons">
                  <li><a target='_blank' href="https://www.instagram.com/harmonyvocal"><i class="icon-instagram-with-circle"></i></a></li>
                  <li><a target='_blank' href="https://www.youtube.com/channel/UC-gFFesKTwUjFlP7JXTDumQ"><i class="icon-youtube-with-circle"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <footer id="fh5co-footer" role="contentinfo">
    <div class="container">

      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved. Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></small>
          </p>
        </div>
      </div>

    </div>
  </footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

